.{
    padding: 5px;
    margin: 5px;
   box-sizing: border-box;}
    
   nav{
    display: flex ;
    justify-content: space-around;
   }

   .nav-itens{
    list-style: none;
    display: flex;
    padding: left 20px;
   }


nav-itens>li{
    padding-left: 20px ;
    list-style: none;
    display: flex;
   

}

.logo{
    font-weight: 200px;
    font-size: 40px;
}


nav{
    display: flex;
    justify-content: space-evenly;
   font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
    align-items:center;
    color: black;
    list-style: none;
}

header{
    background-color: white;
    color: black;
}

header:hover{
    background-color: aquamarine;
    cursor: pointer;
}

.nav-itens>li>a{
    padding-left: 20px;
    color:gray;
    text-decoration:none
    border: 1px solid gray;
    margin: 1px;
}
    
.insere:focus{
    background-color:rgb(181, 255, 255);
    color:black;

}
   
    
    p{
        color: gray;
    }

    h1{
        font-family:Georgia, 'Times New Roman', Times, serif;
    }

   #link{
    color: white;
   }

   #link:link{
    background-color: aqua;
   }

   #link:visited{
    background-color: rgb(102, 102, 255);
   }

   